html {
  font-family: 'Helvetica';
  font-size: 1.2em;
  line-height: 1.6;
  background-color: #E0E0E0;
  margin: 5% 10%;
}

h1 {
  color: #106B60;
}

a {
  color: #EA4C88;
}

footer a {
  text-decoration: none;
  padding: 0 10px;
}

img {
  max-width: 100%;
  display: block;
  border: 10px solid #FFFFFF;
  margin: 30px auto;
}
