.navBlock {
  display: inline-block;
  padding: 10px 30px 10px 0;
}

div.icon-menu {
  text-align: left;
}

#filters {
  list-style: none;
  padding: 0;
}

.profile-image {
  width: 10em;
  height: 10em;
  margin: 0 auto;
  border-radius: 50%;
  border: 1px solid white;
  transition: all .2s;
}

.profile-image:hover {
  opacity: 0.7;
}

#profile {
  overflow: auto;
}
